<% 
const categoryPageCSS = true;
%>
<main>
  <section class="recipe-container">
    <% if (recipes && recipes.length) { %>
      <% recipes.forEach(function(recipe) { %>
        <article class="recipe-card">
          <figure>
            <img src="<%= recipe.image %>" alt="<%= recipe.alt || recipe.title %>" />
          </figure>
          <div class="recipe-content">
            <h3>
              <a href="<%= recipe.link %>" class="main-link"><%= recipe.title %></a>
            </h3>
            <% if (recipe.description) { %>
              <p><%= recipe.description %></p>
            <% } %>
            <% if (recipe.time) { %>
              <p>
                Ready in:
                <time datetime="<%= recipe.timeISO || '' %>"><%= recipe.time %></time>
              </p>
            <% } %>
          </div>
        </article>
      <% }); %>
    <% } else { %>
      <p>No recipes yet. Check back soon!</p>
    <% } %>
  </section>
</main>
